.tazilla-category-filter__title {
  margin-top: 0;
  margin-bottom: var(--wp--preset--spacing--lg, 1.25rem);
  color: var(--wp--preset--color--brand-dark-100, #CFD8D2);
}

.tazilla-category-filter {
  form {
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--md, 1rem);
  }

  label {
    display: flex;
    align-items: center;

    gap: 0.5em;
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    border: 1px solid var(--wp--preset--color--neutral-5, #E6E6E6);
    border-radius: 0.25em;
    background-color: var(--wp--preset--color--neutral-6, #F2F3F2);
    display: inline-block;
    position: relative;
    transition: all 0.15s ease-in-out;

    &:checked {
      background-color: var(--wp--preset--color--brand-100, #E6F3D9);
      border-color: var(--wp--preset--color--brand-100, #E6F3D9);

      &::after {
        content: "";
        position: absolute;
        top: 0.1875rem;
        left: 0.375rem;
        width: 0.25rem;
        height: 0.5rem;
        border: solid #263A14;
        border-width: 0 0.125rem 0.125rem 0;
        transform: rotate(45deg);
      }
    }

    &:focus-visible {
      outline: 2px solid var(--wp--preset--color--blue, #276EF1);
      outline-offset: 2px;
    }
  }
}
