<!-- wp:template-part {"slug":"header","area":"header","theme":"tazilla"} /-->

<!-- wp:template-part {"slug":"header-features","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
    <!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|3xl","bottom":"var:preset|spacing|lg"}}},"backgroundColor":"neutral-7","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull has-neutral-7-background-color has-background" style="padding-top:var(--wp--preset--spacing--3-xl);padding-bottom:var(--wp--preset--spacing--lg)">
        <!-- wp:tazilla/features-title /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"align":"full","style":{"spacing":{"blockGap":"0"}}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-partners","area":"footer","theme":"tazilla"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer","theme":"tazilla"} /-->