<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:template-part {"slug":"header-features","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|3xl","bottom":"var:preset|spacing|lg"}}},"backgroundColor":"neutral-7","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-neutral-7-background-color has-background" style="padding-top:var(--wp--preset--spacing--3-xl);padding-bottom:var(--wp--preset--spacing--lg)"><!-- wp:tazilla/features-title /--></div>
<!-- /wp:group -->

<!-- wp:post-content /-->

<!-- wp:template-part {"slug":"footer-partners","area":"footer"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->