.tazilla-mega-slider:not(.has-child-selected) .tazilla-mega-slide:first-child,
.tazilla-mega-slide.is-selected,
.tazilla-mega-slide.has-child-selected {
  .tazilla-mega-slide__button {
    background-color: var(--wp--preset--color--neutral-7, #F3F5F4);
  }

  .tazilla-mega-slide__content {
    opacity: 1;
    pointer-events: auto;
  }
}

.tazilla-mega-slide + .tazilla-mega-slide {
  margin-top: var(--wp--preset--spacing--xs, 0.5rem);
}

.tazilla-mega-slider {
  min-height: 400px;
  
  .block-editor-block-list__layout {
    &,
    & .block-editor-block-list__block {
      position: static;
    }
  }
}

.tazilla-mega-slide__content {
  left: 200px;
}
