.tazilla-mega-slider {
  position: relative;
  min-height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--wp--preset--spacing--xs, 0.5rem);

  &:after {
    content: '';
    position: absolute;
    bottom: -1.25rem;
    left: 0;
    width: 100%;
    height: 2rem;
    opacity: 0.5;
    background: linear-gradient(180deg, transparent 0%, var(--wp--preset--color--brand-dark, #0E3C20) 100%);
  }
}

.tazilla-mega-slide__button-text,
.tazilla-mega-slide__button-image {
  display: none;
}

.tazilla-mega-slide__button-bullet {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--wp--preset--color--brand-dark-800, #04120A);
}

.tazilla-mega-slide__content {
  position: absolute;
  top: 1.25rem;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  overflow: hidden;
  border-radius: var(--wp--custom--radius--md, 0.5rem) var(--wp--custom--radius--md, 0.5rem) 0 0;
  box-shadow: 0 8px 22px -6px rgba(24, 39, 75, 0.12), 0 14px 64px -4px rgba(24, 39, 75, 0.12);

  .wp-block-image {
    margin-bottom: 0;
  }
}

.tazilla-mega-slide.is-active {
  .tazilla-mega-slide__button-bullet {
    background-color: var(--wp--preset--color--brand-light, #80C241);
  }

  .tazilla-mega-slide__content {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (min-width: 768px) {
  .tazilla-mega-slider {
    flex-direction: column;
    background-color: var(--wp--preset--color--white, #FFFFFF);
    border-radius: var(--wp--custom--radius--md, 0.5rem);
    padding-top: var(--wp--preset--spacing--xs, 0.5rem);
    padding-bottom: var(--wp--preset--spacing--xs, 0.5rem);

    &:after {
      display: none;
    }
  }

  .tazilla-mega-slide__button {
    display: inline-flex;
    align-items: center;
    gap: var(--wp--preset--spacing--xs, 0.5rem);
    border: 1px solid var(--wp--preset--color--neutral-5, #E6E6E6);
    border-radius: var(--wp--custom--radius--md, 0.5rem);
    cursor: pointer;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .tazilla-mega-slide__button-text {
    display: block;
    font-family: var(--wp--preset--font-family--unbounded), sans-serif;
    font-size: var(--wp--preset--font-size--sm, 0.625rem);
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.0125rem;;
    text-transform: uppercase;
    color: var(--wp--preset--color--brand-light, #80C241);
    margin: var(--wp--preset--spacing--xs, 0.5rem) var(--wp--preset--spacing--xs, 0.5rem) var(--wp--preset--spacing--xs, 0.5rem) 0;

    strong {
      font-weight: 500;
      color: var(--wp--preset--color--brand-dark, #0E3C20);
    }
  }

  .tazilla-mega-slide__button-image {
    display: block;
    margin: var(--wp--preset--spacing--xs, 0.5rem) 0 var(--wp--preset--spacing--xs, 0.5rem) var(--wp--preset--spacing--xs, 0.5rem);
  }

  .tazilla-mega-slide__button-bullet {
    display: none;
  }

  .tazilla-mega-slide__content {
    top: var(--wp--preset--spacing--xs, 0.5rem);
    left: auto;
    border-radius: var(--wp--custom--radius--md, 0.5rem);
  }

  .tazilla-mega-slide.is-active {
    .tazilla-mega-slide__button {
      background-color: var(--wp--preset--color--neutral-7, #F3F5F4);
    }
  }
}
