/* Hide elements */
@media (max-width: 767px) {
    .hide-on-mobile {
        display: none !important;
    }

    .full-width-on-mobile {
        width: 100%;
    }

    .first-on-mobile {
        order: -1;
    }
}

@media (min-width: 768px) {
    .hide-on-desktop {
        display: none !important;
    }
}
